<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Addition</title>
</head>
<body>




<form action="addition" method="post">
  <input type="radio" name="operation" value="add" checked="checked"> add<br>
  <input type="radio" name="operation" value="sub"> sub<br>
  <input type="radio" name="operation" value="mul"> mul<br>  
  <input type="radio" name="operation" value="div"> div<br>
 <br>
    
<input type="text" name="num1" value="0">name<br>
<input type="text" name="num2" value="0">name<br>
<input type="submit">

</form>

<h1 th:text="${num3}"></h1>
<h2>The Button Element</h2>
<button type="button" onclick="alert('Hello world!')">Click Me!</button>
 
</body>
</html>